h1 {
  text-align: left;
  font-size: 30px;
  font-weight: bolder;
  color: #b2046b;
  margin-bottom: 0.1rem;
}
h2 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: #05cea7;
  margin-bottom: 0.1rem;
}
h3 {
  text-align: center;
  color: #b2046b;
  margin-bottom: 0.1rem;
}
h4 {
  font-size: 15px;
  text-align: right;
  color: #cccccc;
  margin-bottom: 0.1rem;
}
h5 {
  font-size: 30px;
  font-weight: bold;
  color: #2b2a2a;
}
h6 {
  font-size: 20px;
  text-align: center;
  padding: 2px;
  color: #cccccc;
}
p {
  font-size: 10px;
  text-align: center;
  color: #2b2a2a;
  font-weight: bold;
}

form {
  margin: 10px;
}

button {
  cursor: pointer;
  border: transparent;
  margin: 0px;
  padding: 3px;
  border-radius: 5px;
}
i {
  font-size: 35px;
  color: #757575;
}
small {
  color:#2b2a2a;
  
}

input {
  box-sizing: content-box;
  width: 73%;
}

.tagline{
  display:block;
  position:relative;
  font-size: 10px;
  top: 55em;
  margin: auto 5px;
}

.around {
  position: fixed;
  padding: 20px 30px;
  margin: 5px 5px;
  font-family: "Nanum Gothic", sans-serif;
  box-sizing: content-box;
  background: #2b2a2a;
  border-radius: 5px;
}
.card {
  width: 100px;
  height: 120px;
  line-height: 1.2;
  text-align: center;
  display: inline-flex;
  padding-top: 5px;
  margin: 5px;
}
.col-sm {
  margin: 0px;
  padding: 5px;
}

.searchButton {
  background-color: #0779ea;
}

.refreshButton {
  background-color: #05cea7;
}

#celsius{
  cursor:pointer;
}
#fahrenheit{
  cursor:pointer;
}